USE [ql_quanao]
GO
/****** Object:  UserDefinedFunction [dbo].[TinhGiamGia]    Script Date: 11/25/2024 10:15:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[TinhGiamGia]
(
    @MaSanPham VARCHAR(10),
    @MaGiamGia VARCHAR(10)
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @GiaGoc FLOAT;
    DECLARE @TyLeGiam FLOAT;
    DECLARE @GiaGiam FLOAT;

    -- Lấy giá gốc của sản phẩm
    SELECT @GiaGoc = GIA
    FROM sanpham
    WHERE MASP = @MaSanPham;

    -- Lấy tỷ lệ giảm giá
    SELECT @TyLeGiam = PHANTRAMGIAM
    FROM khuyenmai
    WHERE MAKM = @MaGiamGia;

    -- Nếu không có mã giảm giá, tỷ lệ giảm giá là 0
    IF (@TyLeGiam IS NULL)
        SET @TyLeGiam = 0;

    -- Tính giá sau khi giảm
    SET @GiaGiam = @GiaGoc - (@GiaGoc * @TyLeGiam / 100);

    RETURN @GiaGiam;
END;
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 11/25/2024 10:15:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACTHD] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SIZE] [varchar](255) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhgia]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NULL,
	[MADANHGIA] [varchar](10) NOT NULL,
	[MACTHD] [varchar](10) NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[SOSAO] [int] NULL,
	[TINHTRANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diachi]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diachi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giohang]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giohang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAGH] [varchar](10) NOT NULL,
	[MAND] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SIZE] [varchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[TINHTRANG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinhanh]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinhanh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HINHANHSP] [varchar](100) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[MAND] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAYDATHANG] [date] NULL,
	[TONGTIEN] [int] NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kho]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuyenmai]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyenmai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](255) NOT NULL,
	[PHANTRAMGIAM] [int] NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisanpham]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [varchar](50) NOT NULL,
	[TENLOAI] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_loaisanpham_MALOAI] UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motasanpham]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motasanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoidung]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoidung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NOT NULL,
	[TENND] [nvarchar](500) NOT NULL,
	[EMAIL] [varchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SODIENTHOAI] [varchar](500) NULL,
	[MAUSER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanhieu]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanhieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANH] [varchar](10) NOT NULL,
	[TENNH] [nvarchar](500) NULL,
	[QUOCGIA] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhomquyen]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhomquyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAQUYEN] [varchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phanhoi]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phanhoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADANHGIA] [varchar](10) NULL,
	[MAPHANHOI] [varchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAPHANHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[MALOAI] [varchar](50) NOT NULL,
	[TENSANPHAM] [varchar](500) NULL,
	[GIA] [float] NULL,
	[CHATLIEU] [varchar](500) NULL,
	[MANH] [varchar](10) NULL,
	[HINHANH] [varchar](100) NULL,
	[MAKM] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZESP] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoanuser]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoanuser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAUSER] [varchar](10) NOT NULL,
	[TENTK] [varchar](500) NOT NULL,
	[MATKHAU] [varchar](500) NULL,
	[MAQUYEN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UN_TenTK] UNIQUE NONCLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanhtoan]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanhtoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANHTOAN] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MATHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongtinadmin]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongtinadmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](500) NOT NULL,
	[EMAIL] [varchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SODIENTHOAI] [varchar](500) NULL,
	[MAUSER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tonkho]    Script Date: 11/25/2024 10:15:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tonkho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHO] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [MAHD]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [MASP]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [MAND]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [MACTHD]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [NOIDUNG]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [SOSAO]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[giohang] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT (NULL) FOR [SIZESP]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT (NULL) FOR [MASP]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[hoadon] ([MAHD])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_HOADON]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_SANPHAM]
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD  CONSTRAINT [FK_danhgia_CTHD] FOREIGN KEY([MACTHD])
REFERENCES [dbo].[chitiethoadon] ([MACTHD])
GO
ALTER TABLE [dbo].[danhgia] CHECK CONSTRAINT [FK_danhgia_CTHD]
GO
ALTER TABLE [dbo].[diachi]  WITH CHECK ADD  CONSTRAINT [FK_diachi_nguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[diachi] CHECK CONSTRAINT [FK_diachi_nguoidung]
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD  CONSTRAINT [FK_giohang_nguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[giohang] CHECK CONSTRAINT [FK_giohang_nguoidung]
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD  CONSTRAINT [FK_giohang_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[giohang] CHECK CONSTRAINT [FK_giohang_SANPHAM]
GO
ALTER TABLE [dbo].[hinhanh]  WITH CHECK ADD  CONSTRAINT [IX_hinhanh_MASANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[hinhanh] CHECK CONSTRAINT [IX_hinhanh_MASANPHAM]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_MAnguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_MAnguoidung]
GO
ALTER TABLE [dbo].[motasanpham]  WITH CHECK ADD  CONSTRAINT [FK_motasanpham_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[motasanpham] CHECK CONSTRAINT [FK_motasanpham_sanpham]
GO
ALTER TABLE [dbo].[nguoidung]  WITH CHECK ADD  CONSTRAINT [FK_nguoidung_TAIKHOANUSER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[taikhoanuser] ([MAUSER])
GO
ALTER TABLE [dbo].[nguoidung] CHECK CONSTRAINT [FK_nguoidung_TAIKHOANUSER]
GO
ALTER TABLE [dbo].[phanhoi]  WITH CHECK ADD  CONSTRAINT [FK_phanhoi_DANHGIA] FOREIGN KEY([MADANHGIA])
REFERENCES [dbo].[danhgia] ([MADANHGIA])
GO
ALTER TABLE [dbo].[phanhoi] CHECK CONSTRAINT [FK_phanhoi_DANHGIA]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[khuyenmai] ([MAKM])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_KHUYENMAI]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[loaisanpham] ([MALOAI])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_LOAISANPHAM]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_NHANHIEU] FOREIGN KEY([MANH])
REFERENCES [dbo].[nhanhieu] ([MANH])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_NHANHIEU]
GO
ALTER TABLE [dbo].[size]  WITH CHECK ADD  CONSTRAINT [FK_size_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[size] CHECK CONSTRAINT [FK_size_sanpham]
GO
ALTER TABLE [dbo].[taikhoanuser]  WITH CHECK ADD  CONSTRAINT [FK_taikhoanuser_Quyen] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[nhomquyen] ([MAQUYEN])
GO
ALTER TABLE [dbo].[taikhoanuser] CHECK CONSTRAINT [FK_taikhoanuser_Quyen]
GO
ALTER TABLE [dbo].[thanhtoan]  WITH CHECK ADD  CONSTRAINT [FK_thanhtoan_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[hoadon] ([MAHD])
GO
ALTER TABLE [dbo].[thanhtoan] CHECK CONSTRAINT [FK_thanhtoan_HOADON]
GO
ALTER TABLE [dbo].[thongtinadmin]  WITH CHECK ADD  CONSTRAINT [FK_thongtinadmin_TAIKHOANUSER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[taikhoanuser] ([MAUSER])
GO
ALTER TABLE [dbo].[thongtinadmin] CHECK CONSTRAINT [FK_thongtinadmin_TAIKHOANUSER]
GO
ALTER TABLE [dbo].[tonkho]  WITH CHECK ADD  CONSTRAINT [fk_tonkho_kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[kho] ([MAKHO])
GO
ALTER TABLE [dbo].[tonkho] CHECK CONSTRAINT [fk_tonkho_kho]
GO
ALTER TABLE [dbo].[tonkho]  WITH CHECK ADD  CONSTRAINT [fk_tonkho_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[tonkho] CHECK CONSTRAINT [fk_tonkho_sanpham]
GO
