USE [ql_quanao]
GO
/****** Object:  UserDefinedFunction [dbo].[TinhGiamGia]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[TinhGiamGia]
(
    @MaSanPham VARCHAR(10)
)
RETURNS FLOAT
AS
BEGIN
    DECLARE @GiaGoc FLOAT;
    DECLARE @TyLeGiam FLOAT;
    DECLARE @GiaGiam FLOAT;
	DECLARE @MAKM varchar(10);

    -- Lấy giá gốc của sản phẩm
    SELECT @GiaGoc = GIA , @MAKM = MAKM
    FROM sanpham
    WHERE MASP = @MaSanPham;

    -- Lấy tỷ lệ giảm giá
    SELECT @TyLeGiam = PHANTRAMGIAM
    FROM khuyenmai
    WHERE MAKM = @MAKM;

    -- Nếu không có mã giảm giá, tỷ lệ giảm giá là 0
    IF (@TyLeGiam IS NULL)
        SET @TyLeGiam = 0;

    -- Tính giá sau khi giảm
    SET @GiaGiam = @GiaGoc - (@GiaGoc * @TyLeGiam / 100);

    RETURN @GiaGiam;
END;
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACTHD] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SIZE] [varchar](50) NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[TINHTRANG] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhgia]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NULL,
	[MADANHGIA] [varchar](10) NOT NULL,
	[MACTHD] [varchar](10) NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[SOSAO] [int] NULL,
	[TINHTRANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diachi]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diachi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giohang]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giohang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAGH] [varchar](10) NOT NULL,
	[MAND] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SIZE] [varchar](5) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[TINHTRANG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinhanh]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinhanh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HINHANHSP] [varchar](100) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[MAND] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAYDATHANG] [date] NULL,
	[TONGTIEN] [int] NULL,
	[TINHTRANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kho]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khuyenmai]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khuyenmai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](255) NOT NULL,
	[PHANTRAMGIAM] [int] NOT NULL,
	[NGAYBD] [date] NOT NULL,
	[NGAYKT] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaisanpham]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaisanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [varchar](50) NOT NULL,
	[TENLOAI] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[motasanpham]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[motasanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoidung]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoidung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [varchar](10) NOT NULL,
	[TENND] [nvarchar](500) NOT NULL,
	[EMAIL] [varchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SODIENTHOAI] [varchar](500) NULL,
	[MAUSER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanhieu]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanhieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANH] [varchar](10) NOT NULL,
	[TENNH] [nvarchar](500) NULL,
	[QUOCGIA] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhomquyen]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhomquyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAQUYEN] [varchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phanhoi]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phanhoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MADANHGIA] [varchar](10) NULL,
	[MAPHANHOI] [varchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[MALOAI] [varchar](50) NOT NULL,
	[TENSANPHAM] [nvarchar](max) NULL,
	[GIA] [float] NULL,
	[CHATLIEU] [varchar](500) NULL,
	[MANH] [varchar](10) NULL,
	[HINHANH] [varchar](100) NULL,
	[MAKM] [varchar](10) NULL,
	[GIAGIAM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SIZESP] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoanuser]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoanuser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAUSER] [varchar](10) NOT NULL,
	[TENTK] [varchar](500) NOT NULL,
	[MATKHAU] [varchar](500) NULL,
	[MAQUYEN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanhtoan]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanhtoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHANHTOAN] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[PHUONGTHUCTHANHTOAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongtinadmin]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongtinadmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](500) NOT NULL,
	[EMAIL] [varchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[SODIENTHOAI] [varchar](500) NULL,
	[MAUSER] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tonkho]    Script Date: 12/2/2024 7:31:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tonkho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKHO] [varchar](10) NULL,
	[MASP] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[NGAYNHAP] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chitiethoadon] ON 

INSERT [dbo].[chitiethoadon] ([ID], [MACTHD], [MAHD], [MASP], [SIZE], [SOLUONG], [THANHTIEN], [TINHTRANG]) VALUES (92, N'CTHD001', N'HD006', N'SP0001', N'29', 3, 1725120, NULL)
INSERT [dbo].[chitiethoadon] ([ID], [MACTHD], [MAHD], [MASP], [SIZE], [SOLUONG], [THANHTIEN], [TINHTRANG]) VALUES (93, N'CTHD002', N'HD007', N'SP0002', N'30', 1, 569050, 1)
INSERT [dbo].[chitiethoadon] ([ID], [MACTHD], [MAHD], [MASP], [SIZE], [SOLUONG], [THANHTIEN], [TINHTRANG]) VALUES (94, N'CTHD003', N'HD008', N'SP0001', N'32', 3, 1725120, 1)
SET IDENTITY_INSERT [dbo].[chitiethoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[diachi] ON 

INSERT [dbo].[diachi] ([ID], [MAND], [DIACHI]) VALUES (1, N'ND001', N'Bình Dương')
INSERT [dbo].[diachi] ([ID], [MAND], [DIACHI]) VALUES (2, N'ND001', N'TP.HCM')
SET IDENTITY_INSERT [dbo].[diachi] OFF
GO
SET IDENTITY_INSERT [dbo].[hinhanh] ON 

INSERT [dbo].[hinhanh] ([ID], [HINHANHSP], [MASP]) VALUES (1, N'ADORE1.jpg', N'SP0041')
INSERT [dbo].[hinhanh] ([ID], [HINHANHSP], [MASP]) VALUES (2, N'ADORE2.jpg', N'SP0041')
INSERT [dbo].[hinhanh] ([ID], [HINHANHSP], [MASP]) VALUES (3, N'ADORE3.jpg', N'SP0041')
GO
SET IDENTITY_INSERT [dbo].[hinhanh] OFF
GO
SET IDENTITY_INSERT [dbo].[hoadon] ON 

INSERT [dbo].[hoadon] ([ID], [MAHD], [MAND], [SOLUONG], [NGAYDATHANG], [TONGTIEN], [TINHTRANG]) VALUES (1, N'HD001', N'ND001', 23, CAST(N'2024-06-03' AS Date), 4309600, 1)
INSERT [dbo].[hoadon] ([ID], [MAHD], [MAND], [SOLUONG], [NGAYDATHANG], [TONGTIEN], [TINHTRANG]) VALUES (2, N'HD002', N'ND002', 4, CAST(N'2024-06-02' AS Date), 400055, 1)
INSERT [dbo].[hoadon] ([ID], [MAHD], [MAND], [SOLUONG], [NGAYDATHANG], [TONGTIEN], [TINHTRANG]) VALUES (3, N'HD003', N'ND003', 3, CAST(N'2024-04-12' AS Date), 215, 0)
SET IDENTITY_INSERT [dbo].[hoadon] OFF
GO
SET IDENTITY_INSERT [dbo].[kho] ON 

INSERT [dbo].[kho] ([ID], [MAKHO], [TENKHO]) VALUES (7, N'KHO001', N'Kho A')
INSERT [dbo].[kho] ([ID], [MAKHO], [TENKHO]) VALUES (8, N'KHO002', N'Kho C')
INSERT [dbo].[kho] ([ID], [MAKHO], [TENKHO]) VALUES (1007, N'KHO003', N'Kho nhà xác')
SET IDENTITY_INSERT [dbo].[kho] OFF
GO
SET IDENTITY_INSERT [dbo].[khuyenmai] ON 

INSERT [dbo].[khuyenmai] ([ID], [MAKM], [TENKM], [PHANTRAMGIAM], [NGAYBD], [NGAYKT]) VALUES (4, N'KM001', N'Ngày tuyết rơi', 4, CAST(N'2024-11-23' AS Date), CAST(N'2024-11-28' AS Date))
INSERT [dbo].[khuyenmai] ([ID], [MAKM], [TENKM], [PHANTRAMGIAM], [NGAYBD], [NGAYKT]) VALUES (5, N'KM002', N'Thần Vương', 5, CAST(N'2024-11-23' AS Date), CAST(N'2024-11-23' AS Date))
SET IDENTITY_INSERT [dbo].[khuyenmai] OFF
GO
SET IDENTITY_INSERT [dbo].[loaisanpham] ON 

INSERT [dbo].[loaisanpham] ([ID], [MALOAI], [TENLOAI]) VALUES (1, N'L001', N'Quần')
INSERT [dbo].[loaisanpham] ([ID], [MALOAI], [TENLOAI]) VALUES (2, N'L002', N'Áo th')
INSERT [dbo].[loaisanpham] ([ID], [MALOAI], [TENLOAI]) VALUES (3, N'L003', N'Áo Sơ M')
SET IDENTITY_INSERT [dbo].[loaisanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoidung] ON 

INSERT [dbo].[nguoidung] ([ID], [MAND], [TENND], [EMAIL], [DIACHI], [SODIENTHOAI], [MAUSER]) VALUES (1, N'ND001', N'Nguyễn Văn A', N'vanh180903@gmail.com', N'123 Đường ABC, Quận 1, TP. HCM', N'0987654321', N'TK001')
INSERT [dbo].[nguoidung] ([ID], [MAND], [TENND], [EMAIL], [DIACHI], [SODIENTHOAI], [MAUSER]) VALUES (2, N'ND002', N'Trần Thị BC', N'TranThiB@gmail.com', N'TPPHCM', N'0125463113', N'TK002')
INSERT [dbo].[nguoidung] ([ID], [MAND], [TENND], [EMAIL], [DIACHI], [SODIENTHOAI], [MAUSER]) VALUES (3, N'ND003', N'Lê Văn C', N'levanc@example.com', N'789 Đường KLM, Quận 3, TP. HCM', N'0987123456', N'TK003')
SET IDENTITY_INSERT [dbo].[nguoidung] OFF
GO
SET IDENTITY_INSERT [dbo].[nhanhieu] ON 

INSERT [dbo].[nhanhieu] ([ID], [MANH], [TENNH], [QUOCGIA]) VALUES (1, N'NHA001', N'Yame', N'VietNam')
INSERT [dbo].[nhanhieu] ([ID], [MANH], [TENNH], [QUOCGIA]) VALUES (2, N'NHA002', N'Paradox', N'VietNam')
INSERT [dbo].[nhanhieu] ([ID], [MANH], [TENNH], [QUOCGIA]) VALUES (3, N'NHA003', N'TeeLab', N'VietNam')
SET IDENTITY_INSERT [dbo].[nhanhieu] OFF
GO
SET IDENTITY_INSERT [dbo].[nhomquyen] ON 

INSERT [dbo].[nhomquyen] ([ID], [MAQUYEN], [TENQUYEN]) VALUES (1, N'MQ001', N'Nhân Viên')
INSERT [dbo].[nhomquyen] ([ID], [MAQUYEN], [TENQUYEN]) VALUES (5, N'MQ002', N'Admin')
INSERT [dbo].[nhomquyen] ([ID], [MAQUYEN], [TENQUYEN]) VALUES (6, N'MQ003', N'Khách Hàng')
SET IDENTITY_INSERT [dbo].[nhomquyen] OFF
GO
SET IDENTITY_INSERT [dbo].[sanpham] ON 

INSERT [dbo].[sanpham] ([ID], [MASP], [MALOAI], [TENSANPHAM], [GIA], [CHATLIEU], [MANH], [HINHANH], [MAKM], [GIAGIAM]) VALUES (1, N'SP0001', N'L001', N'Quần Rhythm', 599000, N'Thun', N'NHA002', N'Rhythm1.jpg', N'KM001', 575040)
INSERT [dbo].[sanpham] ([ID], [MASP], [MALOAI], [TENSANPHAM], [GIA], [CHATLIEU], [MANH], [HINHANH], [MAKM], [GIAGIAM]) VALUES (2, N'SP0002', N'L001', N'Quần Swagger', 599000, N'Thun', N'NHA002', N'Swagger1.jpg', N'KM002', 569050)
INSERT [dbo].[sanpham] ([ID], [MASP], [MALOAI], [TENSANPHAM], [GIA], [CHATLIEU], [MANH], [HINHANH], [MAKM], [GIAGIAM]) VALUES (3, N'SP0003', N'L001', N'Quần Maverick', 427000, N'Thun n? bông', N'NHA001', N'Maverick1.jpg', N'KM001', 409920)
SET IDENTITY_INSERT [dbo].[sanpham] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([ID], [SIZESP], [MASP]) VALUES (1, N'29', N'SP0001')
INSERT [dbo].[size] ([ID], [SIZESP], [MASP]) VALUES (2, N'30', N'SP0001')
INSERT [dbo].[size] ([ID], [SIZESP], [MASP]) VALUES (3, N'31', N'SP0001')
GO
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[taikhoanuser] ON 

INSERT [dbo].[taikhoanuser] ([ID], [MAUSER], [TENTK], [MATKHAU], [MAQUYEN]) VALUES (1, N'TK001', N'nguyenvana', N'password123', N'MQ001')
INSERT [dbo].[taikhoanuser] ([ID], [MAUSER], [TENTK], [MATKHAU], [MAQUYEN]) VALUES (2, N'TK002', N'tranthib', N'$2a$11$181x/su5FlcnxcWnuA7Q6OG6PFrMAn8HBIYSD1k1HapNGQkJLXnZ2', N'MQ001')
INSERT [dbo].[taikhoanuser] ([ID], [MAUSER], [TENTK], [MATKHAU], [MAQUYEN]) VALUES (3, N'TK003', N'levanc', N'def456', N'MQ002')
SET IDENTITY_INSERT [dbo].[taikhoanuser] OFF
GO
SET IDENTITY_INSERT [dbo].[thanhtoan] ON 

INSERT [dbo].[thanhtoan] ([ID], [MATHANHTOAN], [MAHD], [NGAYTHANHTOAN], [TONGTIEN], [PHUONGTHUCTHANHTOAN]) VALUES (1, N'TT001', N'HD001', CAST(N'2024-04-10T08:00:00.000' AS DateTime), 110, 1)
INSERT [dbo].[thanhtoan] ([ID], [MATHANHTOAN], [MAHD], [NGAYTHANHTOAN], [TONGTIEN], [PHUONGTHUCTHANHTOAN]) VALUES (2, N'TT002', N'HD002', CAST(N'2024-04-11T09:00:00.000' AS DateTime), 55, 0)
INSERT [dbo].[thanhtoan] ([ID], [MATHANHTOAN], [MAHD], [NGAYTHANHTOAN], [TONGTIEN], [PHUONGTHUCTHANHTOAN]) VALUES (3, N'TT003', N'HD003', CAST(N'2024-04-12T10:00:00.000' AS DateTime), 215, 1)
SET IDENTITY_INSERT [dbo].[thanhtoan] OFF
GO
SET IDENTITY_INSERT [dbo].[thongtinadmin] ON 

INSERT [dbo].[thongtinadmin] ([ID], [TENNV], [EMAIL], [DIACHI], [SODIENTHOAI], [MAUSER]) VALUES (1, N'Admin A', N'admina@example.com', N'123 Đường ABC, Quận 1, TP. HCM', N'0987654321', N'TK006')
SET IDENTITY_INSERT [dbo].[thongtinadmin] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__chitieth__F50CB4CA50565FA7]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[chitiethoadon] ADD UNIQUE NONCLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__danhgia__8597D60B42597BFF]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[danhgia] ADD UNIQUE NONCLUSTERED 
(
	[MADANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__giohang__603F38A275F29BEE]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[giohang] ADD UNIQUE NONCLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__hoadon__603F20CF7A4758BE]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[hoadon] ADD UNIQUE NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__kho__7ABD7C77ED6595A4]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[kho] ADD UNIQUE NONCLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__khuyenma__603F592A08717948]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[khuyenmai] ADD UNIQUE NONCLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__loaisanp__2F633F22B8C486D2]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[loaisanpham] ADD UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_loaisanpham_MALOAI]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[loaisanpham] ADD  CONSTRAINT [UQ_loaisanpham_MALOAI] UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nguoidun__603F5107FA073A99]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[nguoidung] ADD UNIQUE NONCLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nhanhieu__603F510B24DD6B9B]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[nhanhieu] ADD UNIQUE NONCLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nhomquye__3B380E4F3C5F9EF6]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[nhomquyen] ADD UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nhomquye__F2A840CE46F29F44]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[nhomquyen] ADD UNIQUE NONCLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__phanhoi__A158D2817C233938]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[phanhoi] ADD UNIQUE NONCLUSTERED 
(
	[MAPHANHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sanpham__60228A33911D593D]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[sanpham] ADD UNIQUE NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_TenTK]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[taikhoanuser] ADD  CONSTRAINT [UN_TenTK] UNIQUE NONCLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__taikhoan__F5BD363389C3BFD4]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[taikhoanuser] ADD UNIQUE NONCLUSTERED 
(
	[MAUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__thanhtoa__E5D8225D68B2D5F1]    Script Date: 12/2/2024 7:31:32 PM ******/
ALTER TABLE [dbo].[thanhtoan] ADD UNIQUE NONCLUSTERED 
(
	[MATHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [MAHD]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [MASP]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[chitiethoadon] ADD  DEFAULT (NULL) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [MAND]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [MACTHD]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [NOIDUNG]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [SOSAO]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[giohang] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT (NULL) FOR [SIZESP]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT (NULL) FOR [MASP]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[hoadon] ([MAHD])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_HOADON]
GO
ALTER TABLE [dbo].[chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FK_chitiethoadon_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[chitiethoadon] CHECK CONSTRAINT [FK_chitiethoadon_SANPHAM]
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD  CONSTRAINT [FK_danhgia_CTHD] FOREIGN KEY([MACTHD])
REFERENCES [dbo].[chitiethoadon] ([MACTHD])
GO
ALTER TABLE [dbo].[danhgia] CHECK CONSTRAINT [FK_danhgia_CTHD]
GO
ALTER TABLE [dbo].[diachi]  WITH CHECK ADD  CONSTRAINT [FK_diachi_nguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[diachi] CHECK CONSTRAINT [FK_diachi_nguoidung]
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD  CONSTRAINT [FK_giohang_nguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[giohang] CHECK CONSTRAINT [FK_giohang_nguoidung]
GO
ALTER TABLE [dbo].[giohang]  WITH CHECK ADD  CONSTRAINT [FK_giohang_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[giohang] CHECK CONSTRAINT [FK_giohang_SANPHAM]
GO
ALTER TABLE [dbo].[hinhanh]  WITH CHECK ADD  CONSTRAINT [FK_hinhanh_MASANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[hinhanh] CHECK CONSTRAINT [FK_hinhanh_MASANPHAM]
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD  CONSTRAINT [FK_hoadon_MAnguoidung] FOREIGN KEY([MAND])
REFERENCES [dbo].[nguoidung] ([MAND])
GO
ALTER TABLE [dbo].[hoadon] CHECK CONSTRAINT [FK_hoadon_MAnguoidung]
GO
ALTER TABLE [dbo].[motasanpham]  WITH CHECK ADD  CONSTRAINT [FK_motasanpham_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[motasanpham] CHECK CONSTRAINT [FK_motasanpham_sanpham]
GO
ALTER TABLE [dbo].[nguoidung]  WITH CHECK ADD  CONSTRAINT [FK_nguoidung_TAIKHOANUSER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[taikhoanuser] ([MAUSER])
GO
ALTER TABLE [dbo].[nguoidung] CHECK CONSTRAINT [FK_nguoidung_TAIKHOANUSER]
GO
ALTER TABLE [dbo].[phanhoi]  WITH CHECK ADD  CONSTRAINT [FK_phanhoi_DANHGIA] FOREIGN KEY([MADANHGIA])
REFERENCES [dbo].[danhgia] ([MADANHGIA])
GO
ALTER TABLE [dbo].[phanhoi] CHECK CONSTRAINT [FK_phanhoi_DANHGIA]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[khuyenmai] ([MAKM])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_KHUYENMAI]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[loaisanpham] ([MALOAI])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_LOAISANPHAM]
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD  CONSTRAINT [FK_sanpham_NHANHIEU] FOREIGN KEY([MANH])
REFERENCES [dbo].[nhanhieu] ([MANH])
GO
ALTER TABLE [dbo].[sanpham] CHECK CONSTRAINT [FK_sanpham_NHANHIEU]
GO
ALTER TABLE [dbo].[taikhoanuser]  WITH CHECK ADD  CONSTRAINT [FK_taikhoanuser_Quyen] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[nhomquyen] ([MAQUYEN])
GO
ALTER TABLE [dbo].[taikhoanuser] CHECK CONSTRAINT [FK_taikhoanuser_Quyen]
GO
ALTER TABLE [dbo].[thanhtoan]  WITH CHECK ADD  CONSTRAINT [FK_thanhtoan_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[hoadon] ([MAHD])
GO
ALTER TABLE [dbo].[thanhtoan] CHECK CONSTRAINT [FK_thanhtoan_HOADON]
GO
ALTER TABLE [dbo].[thongtinadmin]  WITH CHECK ADD  CONSTRAINT [FK_thongtinadmin_TAIKHOANUSER] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[taikhoanuser] ([MAUSER])
GO
ALTER TABLE [dbo].[thongtinadmin] CHECK CONSTRAINT [FK_thongtinadmin_TAIKHOANUSER]
GO
ALTER TABLE [dbo].[tonkho]  WITH CHECK ADD  CONSTRAINT [fk_tonkho_kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[kho] ([MAKHO])
GO
ALTER TABLE [dbo].[tonkho] CHECK CONSTRAINT [fk_tonkho_kho]
GO
ALTER TABLE [dbo].[tonkho]  WITH CHECK ADD  CONSTRAINT [fk_tonkho_sanpham] FOREIGN KEY([MASP])
REFERENCES [dbo].[sanpham] ([MASP])
GO
ALTER TABLE [dbo].[tonkho] CHECK CONSTRAINT [fk_tonkho_sanpham]
GO
SET IDENTITY_INSERT [dbo].[giohang] ON;

INSERT INTO [dbo].[giohang] ([ID], [MAGH], [MAND], [MASP], [SIZE], [SOLUONG], [THANHTIEN], [TINHTRANG]) 
VALUES 
(1, 'GH001', 'ND001', 'SP0001', '29', 2, 1150080, 1),
(2, 'GH002', 'ND002', 'SP0002', '30', 1, 569050, 1),
(3, 'GH003', 'ND003', 'SP0003', '31', 3, 1229760, 1),
(4, 'GH004', 'ND004', 'SP0004', '32', 1, 405650, 0),
(5, 'GH005', 'ND005', 'SP0005', '33', 2, 1328100, 1);

SET IDENTITY_INSERT [dbo].[giohang] OFF;

SET IDENTITY_INSERT [dbo].[danhgia] ON;

INSERT INTO [dbo].[danhgia] ([ID], [MAND], [MADANHGIA], [MACTHD], [NOIDUNG], [SOSAO], [TINHTRANG]) 
VALUES 
(1, 'ND001', 'DG001', 'CTHD001', N'Sản phẩm rất tốt!', 5, 1),
(2, 'ND002', 'DG002', 'CTHD002', N'Chất lượng ổn nhưng giao hàng chậm.', 3, 1),
(3, 'ND003', 'DG003', 'CTHD003', N'Tôi rất hài lòng với dịch vụ.', 5, 1),
(4, 'ND004', 'DG004', 'CTHD004', N'Không như mong đợi.', 2, 0),
(5, 'ND005', 'DG005', 'CTHD005', N'Giá cả hợp lý và chất lượng tốt.', 4, 1);

SET IDENTITY_INSERT [dbo].[danhgia] OFF;

SET IDENTITY_INSERT [dbo].[chitiethoadon] ON;


SET IDENTITY_INSERT [dbo].[chitiethoadon] OFF;
